# Pliki generowane przez kompilator
build-*
Makefile
*.o
moc_*
ui_*
*.pro.user
.qmake.stash

# Pliki tymczasowe aplikacji
history.json

# Pliki IDE
*.creator
*.files
*.includes

# Ignorujemy pliki wykonywalne, z wyjątkiem tych w folderze bin/
*.exe
!bin/*.exe